.App {
  text-align: center;
}


.App-header {
  background-color: rgb(q180, 73, 247);
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-results {
  font-size: large;
}

.Type-help {
  font-size: small;
  color: #bbbbbb;
}

.Type-label {
  color: #555555;
}

.Yarn-results {
  margin-left: 30px;
  text-align: left;
}

.Bottom-legend{
  font-size: small;
  color: #bbbbbb;
}

