.Convert {
    text-align: center;
    width: 100%;
  }
  
  .Convert-header {
    background-color: rgb(180, 73, 247);
    padding: 10px;
    color: white;
  }
  
  .Convert-title {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  
  .Convert-intro {
    margin: 10px;  
    font-size: large;
  }
  
  .Convert-results {
    font-size: large;
  }
  
  .Input-Form {
    padding: 15px;
  }
  
  .Type-help {
    font-size: small;
    color: #bbbbbb;
  }
  
  .Type-label {
    color: #555555;
  }
  
  .Bottom-legend{
    font-size: small;
    color: #bbbbbb;
  }
  
  .Result-Table {
    text-align: left;
  }
  
  .Table-container {
    padding: 15px;
  }
  
  th, td {
  }